<div class=".container">
  <h1>NEW GAME</h1>
  <h3>Your deck for this round is:</h3>
  <div class="letter-container">
    <% @deck.each do |letter| %>
    <div><%= letter %></div>
  <% end %>
  </div>
  <form action="/score" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'deck', @deck %>
    <input type="hidden" id='deck'>
    <input type="text" name="word" class="input-letter">
    <input type="submit" value="Game!" class="btn">
  </form>
</div>
